{% extends 'base.html.twig' %}

{% block body %}
    <h1>Familium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ familium.id }}</td>
            </tr>
            <tr>
                <th>Familia</th>
                <td>{{ familium.familia }}</td>
            </tr>
            <tr>
                <th>Acciones</th>
                <td>{{ familium.acciones }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('familia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('familia_edit', { 'id': familium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
