{% extends 'base.html.twig' %}

{% block body %}
    
         {#Muestra la barra superior#}
                {% embed "barranavegacion.html.twig" %}{% endembed %}
    <h1>Nueva Acción</h1>
    <div class="container" style="margin-top: 20px;">
        {{ familia }}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Guardar"  class="btn btn-primary btn-flat" />
            <a href="{{ path('familia_edit', { 'id': familia.id }) }}" class="btn btn-primary btn-flat">Volver a la Familia</a>
        {{ form_end(form) }}
        
    </div>
{% endblock %}
