{% extends 'base.html.twig' %}

{% block body %}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">{{nombreEmpresa}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('user_inicio') }}">Inicio <span class="sr-only">(current)</span></a>
          </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Clientes</a>
                        <div class="dropdown-menu">
                            <a href="{{ path('user_inicio') }}" class="dropdown-item"><i class="fa fa-list"></i> Listado</a>
                            <a href="#" class="dropdown-item"><i class="fa fa-user-plus"></i> Añadir nuevo</a>
                            <a href="#" class="dropdown-item"><i class="fa fa-file"></i> Informe mensual</a>
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Trabajadores</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item"><i class="fa fa-list"></i> Listado</a>
                            <a href="#" class="dropdown-item"><i class="fa fa-user-plus"></i> Añadir nuevo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Partes</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item"><i class="fa fa-eye"></i> Ver actividad</a>
                            <a href="#" class="dropdown-item"><i class="fa fa-list"></i> Listado Partes</a>
                        </div>
                    </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="buscar">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">buscar</button>
        </form>
      </div>
    </nav>
</div>
    <h1>Modificar usuario</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modificar"  class="btn btn-primary"/>
    

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <a href="{{ path('user_index') }}" class="btn btn-primary" title="Inicio"><i class="fa fa-home"></i></a>                   
            </div>
{{ form_end(edit_form) }}

{% endblock %}
