{% extends 'baseAdmin.html.twig' %}

{% block body %}
    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">BtoClick</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('user_index') }}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trabajadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Partes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="buscar">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">buscar</button>
    </form>
  </div>
</nav>
    <div class="container">
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles[0] }}</td>
            </tr>
        </tbody>
    </table>
            <div class="row">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <a href="{{ path('user_index') }}" class="btn btn-primary" title="Inicio"><i class="fa fa-home"></i></a>
                  {% set nUsuario = user.id*23 %}
                  <a href="{{ path('user_edit', { 'usuario': nUsuario}) }}" class="btn btn-primary"  title="Modificar"><i class="fa fa-edit"></i></a>                    
                </div>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Borrar" class="btn btn-primary">
                {{ form_end(delete_form) }}
            </div>
</div>
{% endblock %}
