{% extends 'base.html.twig' %}

{% block body %}
    
{# Muestra la barra superior #}
{% embed "barranavegacion.html.twig" %}{% endembed %}


<div class="container">                  
    <h1>Modificar producto</h1>
    <div class="container" style="margin-top: 20px;">
        {{ form_start(edit_form) }}

        <div class="row" style="margin-bottom: 20px;"> 
                <div class="col-lg-12">
                    <b><i class="fa fa-user"></i> {{ form_label(edit_form.modelo) }}</b>
                    {{ form_widget(edit_form.modelo) }}
                </div>
                <div class="col-lg-12">
                    <b><i class="fa fa-map-pin"></i> {{ form_label(edit_form.seleccionDireccion) }}</b>
                        {{ form_widget(edit_form.seleccionDireccion) }}                                
                </div>
                <div class="col-lg-3">
                        <b><i class="fa fa-calendar"></i> {{ form_label(edit_form.instalacion) }}</b>
                        {{ form_widget(edit_form.instalacion) }}
                    </div>
                    <div class="col-lg-3">
                        <b><i class="fa fa-calendar-check-o"></i> {{ form_label(edit_form.fechaMantenimiento) }}</b>
                        {{ form_widget(edit_form.fechaMantenimiento) }}
                    </div>
                    <div class="col-lg-2">
                        <b> {{ form_label(edit_form.periodicidad) }}</b>
                        {{ form_widget(edit_form.periodicidad) }}
                    </div>
                    <div class="col-lg-3">
                        <b><i class="fa fa-calendar-check-o"></i> {{ form_label(edit_form.fechaNuevoMantenimiento) }}</b>
                        {{ form_widget(edit_form.fechaNuevoMantenimiento) }}
                    </div>
                <script type="text/javascript">
                    function calculaFechaMantenimiento(){
                        var fechaIni = document.getElementById("productosbundle_producto_fechaMantenimiento").value;
                        var anyo = fechaIni.substring(0,4);
                        var mes = fechaIni.substring(5,7);
                        var dia = fechaIni.substring(8,10);
                        var fecha = new Date(anyo,mes-1,dia);
                        
                        var dias = parseInt(document.getElementById("productosbundle_producto_periodicidad").value);
                        if (!isNaN(dias)){
                            fecha.setDate(fecha.getDate() + dias);

                            var date = fecha.getFullYear()+"-"+(("0" + (fecha.getMonth() + 1)).slice(-2))+"-"+(("0" + fecha.getDate()).slice(-2));

                            document.getElementById("productosbundle_producto_fechaNuevoMantenimiento").value =date;
                        }
                    }
                    
                    function setFormato(fecha){
                        var dia = ("0" + fecha.getDate()).slice(-2);
                        var mes = ("0" + (fecha.getMonth() + 1)).slice(-2);
                        var date = (mes)+"-"+(dia)+"-"+fecha.getFullYear();
                        return date;
                    }

                </script>
                <div class="col-lg-3">
                    <b><i class="fas fa-award"></i> Garantía Premium</b>
                    {{ form_widget(edit_form.premium) }}
                </div>   
                <div class="col-lg-3">
                    <b><i class="fas fa-euro"></i> {{ form_label(edit_form.base) }}</b>
                    {{ form_widget(edit_form.base) }}
                </div> 
                <div class="col-lg-3">
                    <b><i class="fas fa-euro"></i> {{ form_label(edit_form.IVA) }}</b>
                    {{ form_widget(edit_form.IVA) }}
                </div>                
                <div class="col-lg-12">
                    <b> {{ form_label(edit_form.observaciones) }}</b>
                    {{ form_widget(edit_form.observaciones) }}
                </div>    

                <input type="submit" value="Guardar"  onclick="desmarcaCambio()" class="btn btn-primary" />
        </div>
        {{ form_end(edit_form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('producto_index') }}">Volver a la lista</a>
        </li>
    </ul>
</div>
{# 
Script para revisar si hay cambios y que muestre el aviso antes de abandonar la página
#}
{% embed "marcarcambios.html.twig" %}{% endembed %}

{% endblock %}