{% extends 'base.html.twig' %}

{% block body %}
    {#Muestra la barra superior#}
    {% embed "barranavegacion.html.twig" %}{% endembed %}
    <h1>Parte</h1>

      <div class="container" style="margin-top: 20px;">
        <div class="row my-flex-card" style="">  
            <div class="col-lg-6">
                <div class="card border-info">
                    <div class="card-header">Parte: {{ parte.id }} </div>
                    <div class="card-body">
                        <ul style="list-style:none;">
                            <li><i class="fa fa-user-circle"></i> {{ parte.trabajador }}</li>
                            <li><i class="fa fa-at"></i> {{ parte.cliente }}</li>
                        </ul>
                    </div>

                </div>
            </div>  
            <div class="col-lg-6">            
                <div class="card border-info">
                    <div class="card-header"><i class="fa fa-map-marker"></i> Horario</div>
                    <div class="card-body">
                        <ul style="list-style:none;">
                            <li><i class="fa fa-calendar"></i> {% if parte.fechaParte %}{{ parte.fechaParte|date('d-m-Y') }}{% endif %}</li>
                            <li><i class="fa fa-hourglass-start"></i> {% if parte.fechaEntrada %}{{ parte.fechaEntrada|date('H:i') }}{% endif %}</li>
                            <li><i class="fa fa-hourglass-end"></i> {% if parte.fechaSalida %}{{ parte.fechaSalida|date('H:i') }}{% endif %}</li>
                            <li><i class="fa fa-clock-o"></i> {{ parte.tiempo }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">            
                <div class="card border-info">
                    <div class="card-header"><i class="fa fa-map-marker"></i> Observaciones</div>
                    <div class="card-body">
                        <ul style="list-style:none;">
                            <li><i class="fa fa-people-carry"></i> {% if parte.material %}Requiere material{% else %}No requiere material{% endif %}</li>
                            <li><i class="fa fa-times-circle"></i> {{ parte.observaciones }}</li>
                        </ul>
                    </div>
                </div>
            </div>                        


    <ul>
        <li>
            <a href="{{ path('partes_edit', { 'id': parte.id }) }}">Modificar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
