{% extends 'base.html.twig' %}

{% block body %}
    
                {#Muestra la barra superior#}
                {% embed "barranavegacion.html.twig" %}{% endembed %}
    <div class="container">            
        <h1>Modificar Cliente</h1>

        {{ form_start(edit_form) }}
        <div class="row" style="margin-bottom: 20px;">             
            <div class="col-lg-5">
                <b><i class="fa fa-user"></i> {{ form_label(edit_form.nombre) }}</b>
                {{ form_widget(edit_form.nombre) }}
            </div>
            <div class="col-lg-5">
                <b> {{ form_label(edit_form.razonSocial) }}</b>
                {{ form_widget(edit_form.razonSocial) }}
            </div>
            <div class="col-lg-3">
                <b> {{ form_label(edit_form.codigoExterno) }}</b>
                {{ form_widget(edit_form.codigoExterno) }}
            </div> 
            <div class="col-lg-2">
                <b> {{ form_label(edit_form.tipoPago) }}</b>
                {{ form_widget(edit_form.tipoPago) }}
            </div> 
        </div>
        <div class="row" style="margin-bottom: 20px;">  
            <div class="col-lg-12">
                <b>{{ form_label(edit_form.observaciones) }}</b>
                {{ form_widget(edit_form.observaciones) }}
            </div>
        </div>
        <input type="submit" value="Guardar cambios" onclick="desmarcaCambio()" class="btn btn-primary" />
        {{ form_end(edit_form) }}
           
        {{ form_start(delete_form) }}
            <input type="submit" value="Dar de baja" class="btn btn-primary">
            <a class="btn btn-primary" href="javascript:window.history.go(-1);">Volver a la página anterior</a>
        {{ form_end(delete_form) }}
                
    </div>
                
{# 
Script para revisar si hay cambios y que muestre el aviso antes de abandonar la página
#}
{% embed "marcarcambios.html.twig" %}{% endembed %}

{% endblock %}





