{% extends 'base.html.twig' %}

{% block body %}
                 {#Muestra la barra superior#}
                {% embed "barranavegacion.html.twig" %}{% endembed %}
                
    <h1>Nuevo Cliente</h1>
    <div class="container" style="margin-top: 20px;">
        {{ form_start(form) }}
        <div class="row" style="margin-bottom: 20px;"> </div>
        <div class="row" style="margin-bottom: 20px;">  
            
            <div class="col-lg-5">
                <b><i class="fa fa-user"></i> {{ form_label(form.nombre) }}</b>
                {{ form_widget(form.nombre) }}
            </div>
            <div class="col-lg-5">
                <b> {{ form_label(form.razonSocial) }}</b>
                {{ form_widget(form.razonSocial) }}
            </div>
            <div class="col-lg-2">
                <b> {{ form_label(form.tipoPago) }}</b>
                {{ form_widget(form.tipoPago) }}
            </div>            
        </div>
            
        <div class="row" style="margin-bottom: 20px;">  
            <div class="col-lg-12">
                <b>{{ form_label(form.observaciones) }}</b>
                {{ form_widget(form.observaciones) }}
            </div>
        </div>
        <input type="submit" value="Siguiente" onclick="desmarcaCambio()" class="btn btn-primary" />
    {{ form_end(form) }}
    </div>   
</div>    
{# 
Script para revisar si hay cambios y que muestre el aviso antes de abandonar la página
#}
{% embed "marcarcambios.html.twig" %}{% endembed %}

{% endblock %}
