{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Empresa</th>
                <th>Cliente</th>
                <th>Trabajador</th>
                <th>Fechaparte</th>
                <th>Fechaentrada</th>
                <th>Fechasalida</th>
                <th>Tiempo</th>
                <th>Material</th>
                <th>Firma</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parte in partes %}
            <tr>
                <td><a href="{{ path('partes_show', { 'id': parte.id }) }}">{{ parte.id }}</a></td>
                <td>{{ parte.empresa }}</td>
                <td>{{ parte.cliente }}</td>
                <td>{{ parte.trabajador }}</td>
                <td>{% if parte.fechaParte %}{{ parte.fechaParte|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if parte.fechaEntrada %}{{ parte.fechaEntrada|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if parte.fechaSalida %}{{ parte.fechaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ parte.tiempo }}</td>
                <td>{% if parte.material %}Yes{% else %}No{% endif %}</td>
                <td>{{ parte.firma }}</td>
                <td>{{ parte.observaciones }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partes_show', { 'id': parte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partes_edit', { 'id': parte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partes_new') }}">Create a new parte</a>
        </li>
    </ul>
{% endblock %}
